# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
.eslintcache
/coverage

# production
manifest.webapp
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.sublime-project
*.sublime-workspace
*.code-workspace

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/locales/
src/react-app.d.ts
src/react-app-env.d.ts

# cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/
/cypress.env.json

# IntelliJ
.idea/*

# Visual code
.vscode

# Custom
/scripts/
data-management-app.zip
src/scripts/data
bak/
src/dev
.eslintcache
/server
